.FeedbackOptions {
  display: flex;
  margin-top: 20px;
}

.button {
  font-size: 16px;
  padding: 10px;
  margin-right: 12px;
  cursor: pointer;
  border-radius: 6px;
  border: 2px solid #121212;
  background-color: #ffffff;
  color: #121212;
  transition: background-color 0.3s, color 0.3s;
}

.button:hover,
.button:focus {
  background-color: #454545;
  color: #ffffff;
}
